body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, purple, white);
    margin: 0;
}
fieldset{
    border: none;
}
.header{
    background-color: rgb(105, 52, 129);
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom:  3px solid rgb(67, 68, 67);
}
.register{
    position: relative;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: rgb(208, 100, 230);
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 50px;
}
.register label::after{
    content: '';
    display: block;
    width: 15.8rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}
.login-screen{
    background-color: rgba(7, 7, 7, 0.8);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding:65px;
    border-radius: 15px;
    color: gray;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    
}
.form-container {
    display: flex;
}

.column {
    flex: 1; 
}
.first-name, .email{
    position: relative;
    left: -117px;

}
.last-name, .date-of-birth{
    position: relative;
    top: 18.5px;
    left: 80px;
}
.first-name, .last-name, .email, .date-of-birth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 6px;
    color: rgb(235, 232, 232);
}
.first-name > ::placeholder, .last-name > ::placeholder, .email > ::placeholder, .date-of-birth > ::placeholder{
    color: #000000;
}
.first-name > input, .email > input{
    width: 200%;
    border: none;
    border-radius: 10px;
    padding: 16px;
    background: #514869;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}
.first-name label{
    white-space: nowrap;
}
.last-name > input, .date-of-birth > input{
    width: 110%;
    border: none;
    border-radius: 10px;
    padding: 16px;
    background: #514869;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    position: relative;
    top: -18px;
    left: -30px;
}
.last-name > label, .date-of-birth > label{
    position: relative;
    top: -18px;
    left: -30px;
}
.radio{
    padding: 15px;
    font-size: 12pt;
    position: relative;
    top: -10px;
    left: 10px;
}
.radio-titule, .option-titule{
    color: white;
}
.radio-name{
    color: rgb(0, 0, 0);
}
.option{
    padding: 15px;
    font-size: 12pt;
    position: relative;
    left: 270px;
    top: -171px;
}
.option-select-box{
    width: 150px;
    padding: 5px;
    border: 1px solid #514869;
    border-radius: 5px;
    background-color: #514869;
}
.option-select-box option:checked {
    background-color: #3498db;
    color: #fff;
}
.checkbox-titule{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 400px;
    right: 210px;
}
.checkbox-column-1 {
    display: flex;
    vertical-align: top;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: -100px;
}
.checkbox-column-2{
    display: flex;
    vertical-align: top;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: -80px;
    left: -2.5px;

}
.checkbox-1{
    flex: 1;
    padding: 10px;
    border: 1px solid #514869;
    border-radius: 5px;
   
}
.checkbox-2{
    flex: 1;
    padding: 10px;
    border: 1px solid #514869;
    border-radius: 5px;
    
}
.textarea-titule{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 560px;
    right: 210px;
}
.textarea{
    resize: none;
    position: relative;
    top: -40px;
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}
.button{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.button:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.button, select{
    cursor: pointer;
    
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

@media (min-width: 768px){
    .form-container{
        width: 50%;
        margin: 0 auto;
    }
    
}
@media (max-width: 767px){
    .form-container{
        width: 50%;
        margin: 0 auto;
    }
    
}  